// Put any SCSS or CSS here to override styles
#banner {
    margin-bottom: 12px;

    .content {
        color: #fcd30b;
        a {
          color: #fcd30b;
        }
    }

    .nav {
        color: #fcd30b;
        a {
          color: #fcd30b;
        }
    }
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
    color: #fcd30b!important;
}

.ui.secondary.inverted.menu .dropdown.item:hover, .ui.secondary.inverted.menu .link.item:hover, .ui.secondary.inverted.menu a.item:hover
{
    color: #fcd30b!important;
}

.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
    color: #fcd30b!important;
}

footer a {
    color: #a18808;
}
