{
  "admin": {
    "username": "admin",
    "password": "hunter2"
  },
  "github": {
    "enable": false,
    "clientId": "github-client-id",
    "secret": "github-secret"
  },
  "twitter": {
    "enable": false,
    "consumerKey": "twitter-consumerKey",
    "secret": "twitter-secret"
  },
  "settings": {
    "queueEnabled": true,
    "expirationDelay": 3600000
  },
  "defaultMentor": true,
  "MAIL_URL": "smtp://USERNAME:PASSWORD@HOST:PORT"
}
